.panel{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.panel img{
  display: block;
  width: 90%;
  height: auto;
}

@media (max-width: 600px) {
  .panel{
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .panel img{
    height: 150px;
    width: auto;
    max-width: 150px;
  }
}

