@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body{
  margin: 0;
}

.App{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

input[type='text'], input[type='password'] {
  padding: 15px;
  font-size: 24px;
}

.input-group{
  margin-bottom: 1em;
}

p.error-msg{
  padding: 0;
  margin: 0;
}