@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body{
  margin: 0;
}

.text-center{
  text-align: center;
}

.container{
  display: grid;
  grid-template-columns: 300px auto 300px;
  grid-template-rows: 55px auto 55px;
  grid-template-areas: "header header header"
                       "left-ad-area splash right-ad-area"
                       "footer footer footer";
  min-height: 100vh;
}

header{
  grid-area: header;
}

footer{
  grid-area: footer;
}

.splash{
  grid-area: splash;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inner-splash{
  max-width: 800px;
}

.left-ad{
  grid-area: left-ad-area;
  width: 100%;
}