@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body{
  margin: 0;
  min-height: 100vh;
}

.text-center{
  text-align: center;
}

.container{
  display: grid;
  grid-template-columns: 5% 20% 50% 20% 5%;
  grid-template-rows: 55px 1fr 55px;
  grid-template-areas: 
  "head head head head head"
  ". left-ad-area main right-ad-area ."
  "foot foot foot foot foot";
  min-height: 100vh;
}

.splash{
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 1.6;
  padding: 10px;
}

.inner-splash{
  max-width: 700px;
  background: white;
  padding: 0 10px;
  border-radius: 10px;
}

.left-ad{
  grid-area: left-ad-area;
  width: 100%;
}

.right-ad{
  grid-area: right-ad-area;
  width: 100%;
}

@media (max-width: 1000px) {
  .container{
    column-gap: 10px;
    grid-template-columns: 5% 200px auto 5%;
    grid-template-areas: 
    "head head head head"
    ". left-ad-area main ."
    "foot foot foot foot";
  }

  .right-ad{
    display: none;
  }
}

@media (max-width: 620px) {
  .container{
    row-gap: 10px;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 55px auto 150px 55px;
    grid-template-areas: 
    "head"
    "main"
    "left-ad-area" 
    "foot";
  }

  .splash{
    padding: 10px;
  }
}